.results {
  background-color: #F6E796;
  padding: 5px;
}

.results button{
    /* margin-top:30px; */
    color: white;
    margin-bottom:15px;

    order: 1px solid #aaa;
    background-color: #F55148;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
}