.register-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    background-color: #F6E796;
    box-shadow: 5px 5px 10px grey;
}

.register-form a {
    color: #F55148; 
}

.register-form a:hover {
    color: white; 
}

.register-form label {
    padding-top: 10px;
    
}

.register-form input {
    
    padding: 5px;
    margin-bottom: 10px;
    width: 150px;
    border: 1px solid #ddd;
}

.register-form button{
    margin-top:30px;
    color: white;
    margin-bottom:15px;

    order: 1px solid #aaa;
    background-color: #F55148;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
}