.next-word-card {
    /* border: 1px solid black; */
    background-color: #F6E796;
    padding: 5px;
    margin: 5px 0;
}

.next-word-card h2 {
    margin: 10px;
}

.submit-answer{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.submit-answer input {
    padding: 5px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-answer button{
    /* margin-top:30px; */
    color: white;
    margin-bottom:15px;

    order: 1px solid #aaa;
    background-color: #F55148;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
}

.submit-answer *{
    margin-bottom:20px;
}

.word-to-guess {
    font-size: 30px;
    text-decoration: underline;
}