.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: #F6E796;
  padding: 10px;
}

.card {
  margin: 5px 10px;
  padding: 5px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F55148;
  color: white;
  box-shadow: 5px 5px 10px grey;
}

.card h4{
  color: black;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 10px auto; 
}

.start-learning-button {
  margin: 15px 0;
  padding: 10px 20px;
}

.lang-name {
  font-size: 32px;
}

.header {
  border-bottom: 1px solid black;
  width: 50%;
  margin: auto;
}

.start-link {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  margin: auto;
  background-color: #F55148;
  border-radius: 5px;
}
